/* superNotebook @St. 2015-07-25-11.46 */

/* base */
body,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
	outline: none;
}
ul,
li { list-style: none; }
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, Microsoft YaHei;
	font-size: 10px;
	font-size: 62.5%;
}
.category .li:after,
.clearfix:after {
	content: '';
	font-size: 0;
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
}
img { border: none; }
/* a */
a {
	color: #333;
	text-decoration: none;
}
a:visited {
	color: #666;
	text-decoration: none;
}
a:hover {
	color: orange !important;
	text-decoration: underline;
	font-weight: bold;
}
a:active { color: #000; }
/* a transition */
/*.btn,
.category .li,*/
.hover,
a,
a img {
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
/* hide*/
.hide { display: none; }
/* position*/
.relative { position: relative; }
.absolute { position: absolute; }
.left { float: left; }
.right { float: right; }
button,
input,
textarea { outline: none; }
button { cursor: pointer; }
/* hey we go! */


/* ui color */
.main { border-top: #152840 3px solid; }
.categoryBox { background: #152840; }
.categoryBox .category .li.on,
.categoryBox .category .li:hover,
.listBox { background-color: #D3D3D3; }
.listBox { border-right: #BCBCBC 1px solid; }
.listBox .list .li.on,
.listBox .list .li:hover,
body { background-color: #f8fbfc; }
.listBox .listBtnBox {
	background: rgb(139, 232, 255);
	background-image: linear-gradient(-270deg, rgb(171, 174, 255), rgb(139, 232, 255));
	background-size: 160% auto;
	background-position: right top;
	position: relative;
}
/* layout */
.area,
.main {
	width: 100%;
	height: 100%;
}
.btn {
	display: inline-block;
	padding: 0 10px;
	line-height: 26px;
	border: #CCC 1px solid;
	text-align: center;
	font-size: 14px;
	/*-moz-border-radius: 3px;
	-webkit-border-radius: 3px;*/
	border-radius: 4px;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: rgba(255,255,255,.6);
}
.btn:hover {
	color: #FFFFFF !important;
	background-color: rgba(14,81,167, .9);
}
.btn:active {
	color: #FFFFFF !important;
	background-color: rgba(14,81,167, .6);
}
.iconAddCategory {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2030%2030'%3E%3Cpath%20style='fill:#FFFFFF;'%20d='M17.2,12.8l0-12c0-0.4-0.3-0.7-0.7-0.7l-3,0c-0.2,0-0.4,0.1-0.5,0.2c-0.1,0.1-0.2,0.3-0.2,0.5l0,12l-12,0c-0.4,0-0.7,0.3-0.7,0.7l0,3c0,0.2,0.1,0.4,0.2,0.5c0.1,0.1,0.3,0.2,0.5,0.2l12,0v12c0,0.4,0.3,0.7,0.7,0.7l3,0c0.2,0,0.4-0.1,0.5-0.2c0.1-0.1,0.2-0.3,0.2-0.5l0-12l12,0c0.4,0,0.7-0.3,0.7-0.7v-3c0-0.2-0.1-0.4-0.2-0.5c-0.1-0.1-0.3-0.2-0.5-0.2H17.2z'/%3E%3C/svg%3E%0A");
	overflow: hidden;
	text-indent: -8888px;
	width: 30px;
	height: 26px;
	background-size: auto 60%;
	background-color: transparent;
}
.iconAddCategory.on { display: none; }
.iconDelCategory {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2013%2013'%3E%3Cpath%20style='fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;'%20d='M13,5.6v1.9L10.9,8c-0.1,0.2-0.1,0.3-0.2,0.5l1.1,1.9l-1.3,1.3l-1.9-1.1c-0.2,0.1-0.3,0.1-0.5,0.2L7.4,13H5.6L5,10.9c-0.2-0.1-0.3-0.1-0.5-0.2l-1.9,1.1l-1.3-1.3l1.1-1.9C2.2,8.4,2.2,8.2,2.1,8L0,7.4V5.6L2.1,5c0.1-0.2,0.1-0.3,0.2-0.5L1.2,2.6l1.3-1.3l1.9,1.1C4.6,2.2,4.8,2.2,5,2.1L5.6,0h1.9L8,2.1c0.2,0.1,0.3,0.1,0.5,0.2l1.9-1.1l1.3,1.3l-1.1,1.9c0.1,0.2,0.1,0.3,0.2,0.5L13,5.6z%20M6.5,4.3c-1.2,0-2.2,1-2.2,2.2s1,2.2,2.2,2.2s2.2-1,2.2-2.2S7.7,4.3,6.5,4.3z'/%3E%3C/svg%3E%0A");
	overflow: hidden;
	text-indent: -8888px;
	width: 24px;
	height: 24px;
	background-size: 80% 80%;
	background-color: transparent;
	border: transparent 1px solid;
	position: absolute;
	top: -1px;
	right: 4px;
}
.iconDelCategory.on {
	background-color: transparent;
	/* Chrome, Safari*/
	-webkit-animation-name: easeAnimation;
	-webkit-animation-duration: 3s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	/* Opera */
	-o-animation-name: easeAnimation;
	-o-animation-duration: 3s;
	-o-animation-timing-function: linear;
	-o-animation-iteration-count: infinite;
	/* Mozilla */
	-moz-animation-name: easeAnimation;
	-moz-animation-duration: 3s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
	/* Standard syntax */
	animation-name: easeAnimation;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.iconDelCategory.on:hover { background-color: transparent; }
.iconAddNewNotes,
.iconDelNotes {
	float: right;
	width: 120px;
}
.iconAddNewNotes {
	line-height: 40px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2024%2024'%3E%3Cpath%20style='fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;'%20d='M22.9,3.1L20.9,1l1.3-1L24,1.8L22.9,3.1z%20M9.9,14.1h0.5L21.5,3.3l0.7,0.7L10.7,15.4l-2.1,0.2v0.3H8.1v-0.5h0.3l0.2-2.1L20.1,1.8l0.7,0.7L9.9,13V14.1z%20M1,5.2V23h17.7V8.9l1-1V24H0V4.2h16.2l-1,1H1z'/%3E%3C/svg%3E");
	background-size: 60% 50%;
	background-position: 64px 8px;
	padding-right: 28px;
	font-size: 16px;
}
.iconDel {
	display: none;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2020%2020'%3E%3Cpolygon%20style='fill:#ffffff;'%20points='20,1.5%2018.5,0%2010,8.5%201.5,0%200,1.5%208.5,10%200,18.5%201.5,20%2010,11.5%2018.5,20%2020,18.5%2011.5,10'/%3E%3C/svg%3E%0A");
	overflow: hidden;
	text-indent: -8888px;
	width: 20px;
	height: 20px;
	padding: 0;
	background-size: 60% 60%;
	background-color: transparent;
	border: transparent 1px solid;
}
.iconEdit {
	display: none;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2024%2024'%3E%3Cpath%20style='fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;'%20d='M22.9,3.1L20.9,1l1.3-1L24,1.8L22.9,3.1z%20M9.9,14.1h0.5L21.5,3.3l0.7,0.7L10.7,15.4l-2.1,0.2v0.3H8.1v-0.5h0.3l0.2-2.1L20.1,1.8l0.7,0.7L9.9,13V14.1z%20M1,5.2V23h17.7V8.9l1-1V24H0V4.2h16.2l-1,1H1z'/%3E%3C/svg%3E");
	overflow: hidden;
	text-indent: -8888px;
	width: 20px;
	height: 20px;
	padding: 0;
	background-size: 70% 70%;
	background-color: transparent;
	border: transparent 1px solid;
}
.iconDelNotes.on,
.c0 {
	background-color: rgba(14,81,167, 1) !important;
	color: #FFFFFF;
}
.c1 {
	background-color: #FF7400 !important;
	color: #FFFFFF;
}
.c2 { background-color: #CECECE !important; }
.c0:hover,
.c1:hover,
.c2:hover {
	filter: alpha(opacity=90);
	-moz-opacity: .9;
	opacity: .9;
}
.c0:active,
.c1:active,
.c2:active { background-color: #000000 !important; }
.iconDel:hover {
	background-color: rgba(14,81,167,0.9) !important;
	background-color: #CCCCCC;
}
.iconDel:active {
	background-size: 90% 90%;
	background-color: rgba(14,81,167,1);
}
.logo,
.title,
.top {
	height: 60px;
	line-height: 60px;
}
.top {
	overflow: hidden;
	position: relative;
	background: rgb(139, 232, 255); /*background-image: -webkit-linear-gradient(-180deg, rgb(171, 174, 255), rgb(139, 232, 255)); background-image: -o-linear-gradient(-270deg, rgb(171, 174, 255), rgb(139, 232, 255)); background-image: -moz-linear-gradient(-270deg, rgb(171, 174, 255), rgb(139, 232, 255));*/
	background-image: linear-gradient(270deg, rgb(171, 174, 255), rgb(139, 232, 255));
}
.logo,
.title {
	float: left;
	position: relative;
	z-index: 99;
}
.logo {
	padding-right: 10px;
	width: 35px;
	height: auto;
	margin: 8px 2px 0 15px;
}
.logo img {
	width: 100%;
	height: auto;
}
/*.title { }*/
.title .t0,
.title .t1,
.title .t2 {
	float: left;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.6);
}
.title .t0,
.title .t2 a { color: #fff18d; }
.title .t0 {
	font-size: 3.2em;
	font-weight: bold;
}
.title .t1,
.title .t2 {
	margin-left: 15px;
	padding-left: 15px;
	border-left: #F1F1F1 1px solid;
	font-size: 14px;
	line-height: 16px;
	margin-top: 24px;
	font-weight: normal;
	color: #F1F1F1;
}
.title .t1 { margin-left: 25px; }
/*.tinyTitle,
.category .li { border-bottom:#fff18d 1px dotted; }*/
.tinyTitleBox {
	padding-bottom: 6px;
	border-bottom: #8BE8FF 1px solid;
	position: relative;
	margin-bottom: 12px;
}
.tinyTitleBox .t {
	font-size: 18px;
	color: #8BE8FF;
}
.tinyTitleBox2 { position: absolute; }
.tinyTitleBox2 .t {
	font-size: 18px;
	color: #000000;
	line-height: 45px;
}
.categoryBox,
.listBox,
.notebook { min-height: 800px; }
.categoryBox,
.listBox { float: left; }
.categoryBoxIn,
.notebookIn { padding-top: 20px; }
.categoryBox { width: 200px; }
.categoryBoxIn {
	padding-left: 20px;
	padding-top: 50px;
}
.categoryBox .category { margin: 20px 0; }
.categoryBox .category .li,
.addCategoryBox .textarea,
.editCategoryBox .textarea { color: #fff18d; }
.categoryBox .category .li {
	line-height: 36px;
	font-size: 14px;
	border-bottom: #CECECE 1px dotted;
	cursor: pointer;
	position: relative;
	padding-right: 10px;
	padding-left: 10px;
}
.categoryBox .category .li.on,
.categoryBox .category .li:hover {
	color: #000000;
	font-weight: bold;
}
.categoryBox .category .li:hover {
	filter: alpha(opacity=70);
	-moz-opacity: .7;
	opacity: .7;
}
.categoryBox .category .li:hover.on,
.categoryBox .category .li.edit,
.categoryBox .category .li:hover.edit {
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}
.categoryBox .category .li.edit,
.categoryBox .category .li:hover.edit {
	background-color: transparent !important;
	color: #fff18d !important;
}
.categoryBox .category .li .iconDel {
	position: absolute;
	right: 6px;
	top: 50%;
	margin-top: -10px;
}
.categoryBox .category .li .iconEdit {
	position: absolute;
	right: 26px;
	top: 50%;
	margin-top: -10px;
}
/*.categoryBox .category .li.on .iconDel,
.categoryBox .category .li:hover .iconDel { right: 6px; }
.categoryBox .category .li.on .iconEdit,
.categoryBox .category .li:hover .iconEdit { right: 28px; }*/


.categoryBox .category .li .t { }
.categoryBox .category .li .n { font-weight: normal; /*color:#93D7FF !important;*/ }
.categoryBox .btnBox {
	margin-right: 10px;
	position: relative;
	height: 80px;
	margin-top: 20px;
}
.categoryBox .btnBox .btn {
	position: absolute;
	right: 0;
	top: 0;
}
.listBox { width: 320px; }
.listBoxIn { }
.listBox .list {
	margin: 20px 0;
	padding-left: 20px;
}
.listBox .list .li {
	line-height: 36px;
	font-size: 14px;
	color: #fff18d;
	border-bottom: #FFFFFF 1px dotted;
	cursor: pointer;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
}
.listBox .list .li.on,
.listBox .list .li:hover {
	color: #000000;
	font-weight: bold;
	border-bottom: #BCBCBC 1px solid;
}
.listBox .list .li.on { margin: 0 -1px 0 0; }
.listBox .list .li:hover {
	filter: alpha(opacity=60);
	-moz-opacity: .6;
	opacity: .6;
}
.listBox .list .li:hover.on {
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}
.listBox .list .li .t { color: rgba(14,81,167, 1); }
.listBox .list .li .d {
	color: #FFFFFF;
	line-height: 24px;
	padding-bottom: 12px;
	max-height: 72px;
	min-height: 24px;
	overflow: hidden;
	font-weight: normal !important;
}
.listBox .list .li.on .d,
.listBox .list .li:hover .d { color: #999999; }
.listBox .iconDel {
	background-color: rgba(14,81,167, 1);
	border-color: rgba(14,81,167, 1);
	position: absolute;
	z-index: 2;
	top: 10px;
	left: 260px;
}
.listBox .listBtnBox,
.listBox .listBtnBox2 { padding: 20px; }
.textarea {
	font-size: 14px;
	padding: 3px;
	margin: 0;
	border: #CCC 1px solid;
	/*-moz-border-radius: 4px;
	-webkit-border-radius: 4px;*/
	border-radius: 4px;
}
.addCategoryBox {
	display: none;
	margin-top: 10px;
	margin-right: 10px;
}
.addCategoryBox .textarea {
	display: block;
	width: 90%;
	height: 32px;
	margin-bottom: 12px;
	padding: 6px 8px;
	background-color: #263a54;
}
.addCategoryBox .iconCancel { float: left; }
.addCategoryBox .iconSubmit { float: right; }
.editCategoryBox {
	margin-left: -10px;
	padding-bottom: 12px;
}
.editCategoryBox .textarea {
	display: block;
	width: 90%;
	height: 32px;
	margin-bottom: 12px;
	padding: 6px 8px;
	background-color: #263a54;
}
.editCategoryBox .iconCancel { float: left; }
.editCategoryBox .iconSubmit { float: right; }
.notebook { margin-left: 550px; }
.notebookIn {
	float: left;
	width: 43%;
	min-height: 700px;
	padding: 0;
	margin: 20px 25px 20px 0;
	padding-right: 25px;
	border-right: #D9D9D9 1px dotted;
}
.notebook .t {
	font-size: 22px;
	line-height: 36px;
	padding: 5px;
	margin-bottom: 10px;
}
.notebook .d {
	min-height: 400px;
	font-size: 16px;
	line-height: 28px;
	clear: both;
	padding: 0 5px;
	overflow: auto;
}
.notebook .t,
.notebook .d {
	background-color: #FFFFFF;
	border-radius: 4px;
	border: #CCCCCC 1px solid;
}
.notebook .line {
	display: block;
	margin: 20px 0;
	overflow: hidden;
	height: 1px;
	background-color: #CCCCCC;
	clear: both;
}
.markdown .t,
.markdown .d {
	background-color: transparent;
	border-color: transparent;
}
.notebook .submitBox {
	border-top: #CCCCCC 1px dotted;
	clear: both;
	padding: 10px 0;
	margin-top: 20px;
}
.notebook .btn {
	float: right;
	width: 80px;
	line-height: 32px;
	font-size: 16px;
}
.notebook .submitBox .iconCancel { float: left; }
.notebook .submitBox .iconAdd { }
.notebook .textarea { }
.show .iconDel { display: block; }
/*.show.addCategoryBox { display: block; }
*/



/* 

Define the keyframe and changes

*/

/* Chrome, Safari */

@-webkit-keyframes easeAnimation {
 0% {
 transform: rotate(0deg);
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
}
 100% {
 transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
}
}
/* Firefox */

@-moz-keyframes easeAnimation {
0% {
 transform: rotate(0deg);
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
}
 100% {
 transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
}
}
/* Opera */

@-o-keyframes easeAnimation {
0% {
 transform: rotate(0deg);
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
}
 100% {
 transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
}
}
/* Standard syntax */

@keyframes easeAnimation {
0% {
 transform: rotate(0deg);
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
}
 100% {
 transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
}
}
